
# config
/
/*
!LICENSE
!dotfiles_assets
!dotfiles_assets/*
!README.md
!my-old-dot-files
!my-old-dot-files/*

!ack/
!alacritty
!aliasrc
!awesome/
!backup
!betterlockscreenrc
!bookmarkrc
!cleanup
!clipit/
!colorls/
!copyq/
.copyq/*
!copyq/copyq.conf
!copyq/themes
!Dharkael/
!dircolors
!dmenu/
!docker/
.docker/buildx/
.docker/.buildNodeID
.docker/.token_seed
.docker/.token_seed.lock
!doom/
!dunstrc/
.emacs
.emacs/*
!emacs/init.el
!env
!fish/
fish/fish_variables
!flameshot/
!flashfocus/
!fontconfig/
!gh/
!gh/config.yml
.gh/hosts.yml
!git/
!gtk-2.0/
.gtk-2.0/gtkfilechooser.ini
!gtk-2.0/gtkrc-2.0
!gtk-3.0/
!htop/
!hyper
!hypr
.hyper/.hyper_plugins
!i3/
!inputrc
!kitty
!Kvantum/
!mimeapps.list
!moc/
.moc/softmixer
.moc/playlist.m3u
.moc/pid
.moc/last_directory
.moc/equalizer
!morc_menu/
!neofetch/
!nitrogen/
.nitrogen/nitrogen.cfg
!npm/
!nvim/
.vim/plugin/
!pacmanfm/
.pcmanfm/default/pcmanfm.conf
!pass-git-helper/
!persepolis_download_manager/persepolis.conf
!picom/
!polybar/
!ranger/
!rofi/
!sxhkd
!termite/
!tmux/
.tmux/plugins
!user-dirs.dirs
!user-dirs.locale
!vlc/vlcrc
!wget/
!X11/
!zathura/
!zsh/
.zsh/completions
.zsh/.zsh_history
!waybar/









# global patterns

.zcompdump*
**/Cache/
**/GPUCache/
**/CachedData/
**/logs/
**/Trash/
**/node_modules/
**/__pycache__/
