
# config
/
*.tmp.*
/*
!LICENSE
!dotfiles_assets
!dotfiles_assets/*
!README.md
!my-old-dot-files
!my-old-dot-files/*

!ack/
!alacritty
!aliasrc
!awesome/
!backup
!betterlockscreenrc
!bookmarkrc
!cava
!cava/*
!cleanup
!clipit/
!Code/User/keybindings.json
!Code/User/settings.json
!Code/User/
!colorls/
!copyq/
.copyq/*
!copyq/copyq.conf
!copyq/themes
!Dharkael/
!dircolors
!dmenu/
!docker/
.docker/buildx/
.docker/.buildNodeID
.docker/.token_seed
.docker/.token_seed.lock
!doom/
doom/customs/email.el
!dunstrc/
.emacs
.emacs/*
!emacs/init.el
!env
!eww
!eww/*
!firefoxConf
!firefoxConf/*
!fish/
fish/fish_variables
!flameshot/
!flashfocus/
!fontconfig/
!gh/
!gh/config.yml
.gh/hosts.yml
!GRUB_THEME
!GRUB_THEME/
!GRUB_THEME/*
!git/
!gtk-2.0/
.gtk-2.0/gtkfilechooser.ini
!gtk-2.0/gtkrc-2.0
!gtk-3.0/
!htop/
!hyper
!hypr
.hyper/.hyper_plugins
!i3/
!inputrc
!kitty
!Kvantum/
!mako
!mako/*
!mimeapps.list
!moc/
.moc/softmixer
.moc/playlist.m3u
.moc/pid
.moc/last_directory
.moc/equalizer
!morc_menu/
!myscripts/
!neofetch/
!nitrogen/
.nitrogen/nitrogen.cfg
!npm/
!nvim/
.vim/plugin/
!pacmanfm/
.pcmanfm/default/pcmanfm.conf
!pass-git-helper/
!persepolis_download_manager/persepolis.conf
!picom/
!polybar/
!qt5ct
!qt5ct/*
!qt6ct
!qt6ct/*
!ranger/
!rofi/
!SDDM_THEME
!SDDM_THEME/
!SDDM_THEME/*
!starship.toml
!superfile
!superfile/*
!swaylock
!swaylock/*
!sxhkd
!termite/
!Thunar
!Thunar/*
!tmux/
.tmux/plugins
!user-dirs.dirs
!user-dirs.locale
!vlc/vlcrc


Void/

!websites-conf/
!websites-conf/*
!wget/
!X11/
!zathura/
!zsh/
.zsh/completions
.zsh/.zsh_history
!waybar/
!wlogout/
!wlogout/*

*.tmp.*


!custom_images
!custom_images/*




# global patterns

.zcompdump*
**/Cache/
**/GPUCache/
**/CachedData/
**/logs/
**/Trash/
**/node_modules/
**/__pycache__/

*.tmp.*
