
# config
/
*.tmp.*
/*



.copyq/*
.docker/.buildNodeID
.docker/.token_seed
.docker/.token_seed.lock
.emacs
.emacs/*
.gh/hosts.yml
.gtk-2.0/gtkfilechooser.ini
.hyper/.hyper_plugins
.moc/softmixer
.moc/playlist.m3u
.moc/pid
.moc/last_directory
.moc/equalizer
.nitrogen/nitrogen.cfg
.vim/plugin/
.pcmanfm/default/pcmanfm.conf
.tmux/plugins
tmux/plugins


doom/customs/email.el
window_manager/dwl/backup/
fish/fish_variables







# global patterns

.zcompdump*
**/Cache/
**/GPUCache/
**/CachedData/
**/logs/
**/Trash/
**/node_modules/
**/__pycache__/

# ---------------------------------------- #

!LICENSE
!README.md
!.gitignore
!window_manager/
!doom
!eww
!mako
!cava
!tmux
!fish
