* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  border-color: black;
  text-decoration-color: #ffffff;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  font-size: 0px;

  border-radius: 9999999px;
  margin: 170px 10px;
}

button:focus,
button:active {
  background-size: 60%;
  background-color: rgba(250, 250, 250, 0.1);
  outline-style: none;
}

#lock {
  background-image: image(
    url("/home/arc/.config/wlogout/icons/lock_white.png")
  );
}

#logout {
  background-image: image(
    url("/home/arc/.config/wlogout/icons/logout_white.png")
  );
}

#suspend {
  background-image: image(
    url("/home/arc/.config/wlogout/icons/suspend_white.png")
  );
}

#shutdown {
  background-image: image(
    url("/home/arc/.config/wlogout/icons/shutdown_white.png")
  );
}

#reboot {
  background-image: image(
    url("/home/arc/.config/wlogout/icons/reboot_white.png")
  );
}
